<h1>Bonjour, merci de confirmer votre adresse de courriel!</h1>

<p>
    Pour confirmer votre adresse de courriel, il suffit de suivre le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon courriel</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    En vous souhaitant une excellente journée.
</p>
